<main>

  <section class="video-container z-depth-1" [hidden]="!imgLoaded">
    <img src="assets/img/Business.jpg" alt="" (load)="onImageLoad($event)">
    <div class="filter aligner">
      <div class="">
        <h1>Qui sommes-nous ?</h1>
        <h3 class="text-center mb-4 mt-2">Faisons connaissance !</h3>
        <p>
          BMB Assurances est une société de courtage, spécialisée en assurances de prêt.
          Implantée à Colomiers, BMB Assurances se positionne comme un acteur dynamique de toute la région toulousaine
          et a
          pour vocation de s’implanter au niveau national.
        </p>
      </div>
    </div>
  </section>

  <section class="primary">
    <div class="container text-white">
      <h2>Pourquoi nous ?</h2>
      <h3>BMB Assurances, spécialiste de l’assurance de prêt</h3>
      <p>
        Fort de nos 10 ans d'expérience, notre connaissance approfondie du marché et des acteurs du secteur (compagnies
        d'assurance et banques) nous permet de vous apporter notre expertise.
      </p>


      <h2 class="mt-5">Nos missions ?</h2>

      <h3>Nous sommes vos conseillers, courtiers et alliés !</h3>
      <p>
        Vous conseiller et vous accompagner pas à pas dans vos petits comme dans vos grands projets de vie : c'est là
        toute
        l'ambition de BMB Assurances.
        En tant que courtiers en assurance de prêt, nous agissons afin d'obtenir la meilleure offre et surtout celle qui
        vous correspond le mieux, à vous et à votre projet.
        Toute l'équipe BMB Assurances œuvre à vos côtés afin que vos projets soient traités dans les meilleurs délais et
        selon vos besoins.

      </p>
    </div>

  </section>

  <section class="solutions-container container">

    <h2 class="primary-text text-center">Une solution adaptée, des démarches facilitées</h2>
    <div class="row items-container">
      <div class="col-sm-12 col-md-6 col-lg-3 item">
        <img src="assets/img/1 - Étude personnalisée.png" alt="">
        <p><b>Étude personnalisée</b> en fonction de votre situation</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 item">
        <img src="assets/img/2 - Analyse et comparatif.png" alt="">
        <p><b>Analyse et comparatif</b> du contrat par rapport au contrat de la banque parmi nos 12 compagnies
          d'assurance
          partenaires</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 item">
        <img src="assets/img/3 - Constitution dossier.png" alt="">
        <p><b>Constitution</b> de votre <b>dossier d'adhésion</b></p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 item">
        <img src="assets/img/4 - Accompagnement.png" alt="">
        <p><b>Accompagnement</b> jusqu'à l'acceptation du nouveau contrat d'assurance de prêt par la banque</p>
      </div>
    </div>

    <button class="redirection-button" routerLink="/nos-offres">Je découvre les offres</button>
    <div class="divider"></div>
  </section>

  <app-companies-bandeau></app-companies-bandeau>
</main>
