@import "../../themes/variables";

main {

  padding-bottom: 5vh;

  .video-container {
    overflow: hidden;
    max-height: 560px;
    position: relative;
    padding-bottom: 0 !important;

    img {
      width: 100%;
      height: auto;
      margin: -27vw 0 0 0;
    }

    .filter {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);

      div {
        padding: 15px;
        color: white;
        max-width: 600px;
        font-size: 1.2em;
        text-align: justify;
        font-weight: 600;
      }
      h1 {
        text-align: center;
        color: $primary-light;
        font-family: Cocogoose;
      }
    }
  }

  h2 {
    font-family: Cocogoose;
  }

  section {
    padding-top: 5vh;
    padding-bottom: 5vh;

    p {
      text-align: justify;
    }

    &.solutions-container {

      h3 {
        font-family: Cocogoose;
      }

      .items-container {
        margin-top: 5vh;

        .item {

          text-align: center;
          margin-bottom: 3vh;

          img {
            height: 55px;
          }

           p {
             padding: 15px;
             text-align: center;
           }
        }
      }
    }
  }

  div.divider {
    height: 1px;
    width: 80%;
    margin: 0 auto;
    background-color: $primary;
  }

  button.redirection-button {
    margin: 0 auto 3vh;
  }
}

@media (max-width: 577px) {
  section.video-container {
    min-height: 400px;
    overflow: inherit !important;
    max-height: none !important;

    h3 {
      color: #212121;
    }

    .filter {
      max-height: none !important;
      background-color: white !important;
      position: inherit !important;

      h1 {
      font-size: 2rem;
      }

      div {
        padding-top: 5vh !important;
        p{
          color: #212121;
          font-size: 1rem !important;
          font-weight: 400 !important;
        }
      }

    }

    img {
      margin-top: 5vh !important;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5rem !important;
  }

}
