@import "../../themes/variables";

section {

  h2, h1 {
    color: $primary;
    text-align: center;
    font-family: Cocogoose;

    span {
      font-weight: 900;
      font-family: Verdana;
    }
  }

  h4 {
    font-size: 1.2em;
  }

  div.laws {
    color: white;
    overflow: hidden;
    max-height: 650px;
    position: relative;

    h2 {
      margin-bottom: 3vh;
    }

    h3 {
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      margin: -170px 0 0 0;
    }
    .filter {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);

      .dates-container {
        margin-top: 2vh;
        & > div {
          & > div {
            padding: 15px;
            height: 280px;
            flex-direction: column;
            transition-duration: 0.3s;
            background-color: rgba(255, 255, 255, 0.92);

            &:hover {
              box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
              -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
            }

            p {
              color: black;
              margin-bottom: 0;
            }

            h3 {
              top: 25px;
              color: $secondary;
              position: absolute;
              margin-bottom: 2vh;
            }
          }
          margin-top: 2vh;
          text-align: center;
        }
      }

      h2 {
        color: white;
        font-family: Cocogoose;

        span {
          font-weight: 900;
          font-family: Verdana;
        }
      }
    }

  }

  div.why {
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #376d62;

    h2, h1 {
      color: white;
      text-align: center;
      margin-bottom: 2vh;
    }
    ul {
      list-style: none;

      li {
        margin-bottom: 1vh;

        b {
          color: #f78a70;
        }
      }
    }
  }

  div.how {

    .z-depth-1 {
      height: 250px;
      padding: 15px;
      font-weight: 600;
      text-align: center;
      position: relative;
      margin-bottom:  3vh;
      transition-duration: 0.3s;
      border: solid 2px $secondary;

      &:not(.last):before {
        content: '';
        display: block;
        position: absolute;
        top: 45%;
        right: -11px;
        width: 20px;
        height: 20px;

        background: white;
        border-right: 2px solid $secondary;
        border-bottom: 2px solid $secondary;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      &:hover {
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }

      h4 {
        position: absolute;
        top: 30px;
        font-family: Verdana;
        font-weight: 800;
        color: $secondary;
      }
    }
  }

  div.container {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  div.container-buttons {
    button.redirection-button {
      margin: 1vh 0;
      display: inline-block;
      width: 20vw;
      min-width: 300px;
      padding-left: 0;
      padding-right: 0;
    }

    text-align: center;
  }


}

@media (max-width: 1000px) {
  div.laws {
    margin-top: 5px;
    text-align: center;
    color: black !important;
    overflow: inherit !important;
    max-height: none !important;
    h2 {
      color: $secondary !important;
    }

    .filter {
      height: auto;
      position: inherit !important;
      background-color: white !important;

      h3 {
        display: none;
      }
    }

    img {
      margin-top: -20px !important;
    }
  }
}

@media (max-width: 765px) {

  button.redirection-button {
    display: block;
  }


  div.how {

    .z-depth-1 {

      &:not(.last):before {
       display: none !important;
      }
    }
  }

  div.laws {
    .filter {
      h3 {
        display: inherit !important;
      }
    }
  }
}
