<section>

  <div class="laws" [hidden]="!imgLoaded">
    <img src="assets/img/team-meeting.jxr" alt="Changement au sein des assurances et chez BMB" (load)="onImageLoad($event)">
    <div class="filter aligner">
      <div class="container">
        <h2>Qu'est-ce qui a changé en <span>2018</span> ?</h2>
        <h3>Le saviez-vous ?</h3>
        Petit rappel des 3 lois qui ont libéralisé l'assurance de prêt :

        <div class="row dates-container">
          <div class="col-md-4 col-sm-12">
            <div class="z-depth-1 aligner">
              <h3>2010</h3>
              <p><b>Loi Lagarde </b>: Possibilité pour l'emprunteur de choisir une assurance de prêt autre que celle de
                la banque. Et
                surtout,
                interdiction pour la banque de modifier le taux du prêt dans le cas où le client choisirait une
                assurance
                externe.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 ">
            <div class="z-depth-1 aligner">
              <h3>2014</h3>
              <p><b>Loi Hamon </b>: Résiliation et changement d'assurance de prêt possible pendant les 12 premiers mois
                qui suivent la
                souscription d'assurance.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="z-depth-1 aligner">
              <h3>2018</h3>
              <p><b>Amendement Bourquin </b>: droit de résiliation annuelle pour tous les emprunteurs. Il devient alors
                possible de changer
                d'assurance de prêt chaque année, à la date d'anniversaire du contrat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="why">
    <div class="container">
      <h1>Pourquoi changer d'assurance de prêt ?</h1>
      <h3 class="text-center mb-5">Top départ pour changer d'assurance emprunteur !</h3>
      <ul>
        <li> Parce que l'assurance de prêt peut représenter jusqu'à <b>35% du coût total de votre crédit.</b>
        </li>
        <li> Parce qu'en moyenne, c'est <b>6 425€ d'économies réalisées </b>vis-à-vis d'un contrat groupe bancaire.
        </li>
        <li> Parce qu'on obtient toujours mieux quand on fait jouer la concurrence et que BMB Assurances travaille avec
          10
          compagnies partenaires.
        </li>
        <li> Parce qu'en plus de faire des économies, votre nouveau contrat est plus adapté à votre situation : avec une
          assurance individuelle, <b>vous ne payez que ce dont vous avez besoin</b>.
        </li>
        <li> Parce qu'avec l'équivalence de garantie imposée par la Loi, entre votre ancien et votre nouveau contrat,
          <b>vous êtes protégé et sûr d'être bien assuré</b>.
        </li>
        <li> Parce que toute l'équipe BMB Assurances vous conseille et vous accompagne tout au long des démarches !
        </li>
      </ul>
    </div>
  <div class="container-buttons">
    <button class="redirection-button" routerLink="/contact">Je veux être contacté</button>
    <button class="redirection-button" routerLink="/comparer">Je compare</button>

  </div>

  </div>

  <div class="how">
    <div class="container">
      <h2>Comment changer ?</h2>
      <h3 class="text-center mb-5">BMB Assurances, vous accompagne tout au long des démarches</h3>

      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="z-depth-1 aligner">
            <h4>Étape 1</h4>
            Je trouve et je souscris à un nouveau contrat d’assurance de prêt
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="z-depth-1 aligner">
            <h4>Étape 2</h4>
            J’envoie une demande de substitution à ma banque
            avec le nouveau contrat et ses conditions générales de vente
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="z-depth-1 aligner">
            <h4>Étape 3</h4>
            Je demande la résiliation à l’assureur de mon contrat actuel
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="z-depth-1 aligner secondary text-white last">
            <h4 class="text-white">Étape 4</h4>
            J’économise et je suis couvert par mon nouveau contrat !
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-companies-bandeau></app-companies-bandeau>
</section>
