<main>
  <section class="video-container z-depth-1" id="risques">
    <img src="assets/img/Risques aggravés de santé.jpeg" alt="">
    <div class="filter aligner">
      <div class="">
        <h1 class="mb-4 mt-2 text-white">Les offres BMB</h1>
        <p>
      </div>
    </div>
  </section>
  <section class="container primary-text">
    <div>
      <h1><img src="assets/img/Risques aggravés de santé.png" alt="" class="mr-2">Risques aggravés</h1>
      <h2>Réalisez vos projets, même avec un risque aggravé de santé</h2>

      <p>
        Nos partenaires assureurs sont tous signataires de la convention AERAS et s'engagent à rechercher une solution
        quelle que soit la spécificité de votre pathologie.

      </p>
      <p>
        La convention AERAS a pour objectif de faciliter l'accès à l'assurance emprunteur aux personnes ayant, ou ayant
        eu, un problème de santé. Elle vous concerne si votre état de santé ne vous permet pas d'obtenir une couverture
        d'assurance aux conditions standards.
      </p>
      <p>
        La convention AERAS n'ouvre pas droit à l'assurance mais permet de repousser les limites de l'assurabilité des
        personnes qui présentent, ou ont présenté, un risque aggravé de santé.

      </p>
      <p>
        Parmi les 12 partenaires assureurs de BMB Assurances, il y en aura toujours un pour apporter une solution face à
        votre problème de santé. Chaque compagnie est partenaire de nombreux centres médicaux partout en France,
        toujours
        dans le but de faciliter au maximum vos démarches !

      </p>

      <button class="redirection-button" routerLink="/comparer">Je compare</button>
    </div>

  </section>
  <section class="video-container z-depth-1" id="capitaux">
    <img src="assets/img/Gros Capitaux.jpg" alt="" style="margin: -24vw 0 0 0;">
  </section>
  <section class="container primary-text">
    <div>
      <h1><img src="assets/img/Gros capitaux.png" alt="" class="mr-2">Gros capitaux supérieurs à <span class="number">500 000</span>€
      </h1>
      <h2>Une cellule VIP adaptée aux gros capitaux</h2>
      <p>
        BMB Assurances vous accompagne et vous simplifie les démarches, de sorte que le montage de votre dossier soit
        fluide et rapide.
      </p>
      <p>
        Avec un capital garanti jusqu'à 50 000 000€ ; nos partenaires assureurs vous offrent un accompagnement
        personnalisé à l'aide leur cellule VIP.
      </p>
      <p>
        Pas le temps de faire des démarches médicales ? Aucun problème, jusqu'à 1 000 000 d'euros et 45 ans : certains
        de
        nos partenaires vous proposent de faire vos déclarations par téléphone sans formalité médicale.
      </p>

      <button class="redirection-button" routerLink="/comparer">Je compare</button>
    </div>

  </section>
  <section class="video-container z-depth-1" id="professions">
    <img src="assets/img/Sports à Risque.jpg" alt="" style="margin: -24vw 0 0 0;">
  </section>
  <section class="container primary-text">
    <div>
      <h1><img src="assets/img/Professions et sports à risques.png" alt="" class="mr-2">Professions & sports à risques
      </h1>
      <h2>Pour être sûr de bénéficier des meilleures garanties, même pour les profils risqués</h2>

      <p>
        En choisissant une assurance sur-mesure avec BMB Assurances, vous êtes parfaitement couvert, quelle que soit
        votre
        profession.
        De même, pour ceux qui pratiquent un sport extrême et qui souhaitent l'intégrer à leur contrat d'assurance
        emprunteur ; des solutions existent !
      </p>

      <h3>Vous avez dit "sport à risques" ?</h3>

      <p>
        Alpinisme, plongée, spéléologie, sports automobile, sports de combats, sports professionnels… et la liste est
        encore longue. Si pour certaines activités sportives le risque semble évident, pour d'autres, le sportif à tout
        intérêt à se faire conseiller par son courtier afin d'être le mieux couvert. </p>
      <p>
        Pour obtenir un niveau de garantie adapté à son profil, l'emprunteur complétera un questionnaire détaillé
        spécifique à son activité.
      </p>
      <p>
        Après analyse de ce questionnaire, l'assureur peut assortir son offre d'une surprime lorsque le risque est
        considéré comme plus dangereux. Mais il peut également tout simplement refuser une garantie ou proposer au
        client
        un rachat de garantie afin d'être couvert malgré tout en moyennant une majoration.
      </p>

      <button class="redirection-button" routerLink="/comparer">Je compare</button>
    </div>
  </section>

  <section class="video-container z-depth-1" id="expatriés">
    <img src="assets/img/Expatriés.jpeg" alt="" style="margin: -24vw 0 0 0;">
  </section>
  <section class="container primary-text">
    <div>
      <h1><img src="assets/img/Expatriés.png" alt="" class="mr-2">Expatriés et Non-résidents </h1>
      <h2>Pour vous suivre partout</h2>

      <p>
        Parce que nous savons qu'il n'est pas toujours facile de trouver un assureur qui accepte de couvrir ces statuts,
        BMB Assurances a choisi d'élargir son offre à de nouveaux partenaires susceptibles de vous suivre dans tous vos
        projets de vie, même les plus lointains !
      </p>

      <h2>Pour qui ?</h2>

      <p>
        Vous êtes non-résident français, expatrié ou même étranger et vous projetez de faire un prêt immobilier ? La
        banque risque d'être réticente pour assurer votre prêt. Heureusement, BMB Assurances a sélectionné pour vous des
        assureurs compétents pour vous accompagner dans votre projet immobilier. Contactez-nous vite !
      </p>
      <button class="redirection-button" routerLink="/comparer">Je compare</button>

    </div>
    <app-companies-bandeau></app-companies-bandeau>
  </section>
</main>
