@import "../../themes/variables";

main {
  min-height: 80vh;

  section {

    padding: 6vh 0;
    h1 {
      font-family: Cocogoose;

      img {
        height: 2.5rem;
      }

      span.number {
        font-family: Verdana;
        font-weight: 900;
      }
    }

    p {
      text-align: justify;
    }
  }

  .video-container {
    overflow: hidden;
    max-height: 500px;
    position: relative;
    padding-bottom: 0 !important;

    img {
      width: 100%;
      height: auto;
      margin: -350px 0 0 0;
    }

    .filter {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);

      div {
        padding: 15px;
        color: white;
        max-width: 600px;
        font-size: 1.2em;
        text-align: justify;
        font-weight: 600;
      }
      h1 {
        text-align: center;
        color: $primary-light;
        font-family: Cocogoose;
      }
    }
  }
}


@media (max-width: 577px) {
  section.video-container {
    min-height: 230px;

    h2 {
      font-size: 1.5em;
    }

    img {
      margin-top: -60px !important;
    }
  }

  section {
    padding: 3vh 0 !important;

    &>div {
      padding-left: 2vw;
      padding-right: 2vw;
    }

    h1 {
      text-align: center;
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.3em;
    }
  }


}
