<section>

  <h3 class="mt-4 mb-4">NOS COMPAGNIES D'ASSURANCES PARTENAIRES</h3>
  <div class="aligner logo-container mb-4">
    <i class="fas fa-3x fa-angle-left" (click)="moveLeft()"></i>
    <ul class="aligner">
      <li *ngFor="let logo of logos">
        <img [src]="path + logo + '.png'" alt="{{'Logo partenaire de ' + logo}}">
      </li>
    </ul>
    <i class="fas fa-3x fa-angle-right" (click)="moveRight()"></i>
  </div>

</section>
