@import "../../themes/variables";

section {

  width: 100%;

  h3 {
    color: $primary;
    font-weight: 700;
    text-align: center;
    font-family: Cocogoose;
  }

  img {
    width: 150px;
    max-height: 130px;
    transition-duration: 2s;
  }

  div.logo-container {
    position: relative;
    padding: 0 5vw;
  }

  i {
    &.fas {
      position: absolute;
      opacity: 0.8;

      &.fa-angle-left {
        left: 1vw;
      }

      &.fa-angle-right {
        right: 1vw;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    margin: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-left: 3vw;
    padding-right: 3vw;
    list-style-type: none;

    li {
      flex: 1;
      display: inline;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      transition-duration: 1.5s;
    }
  }
}

@media (max-width: 765px) {
  h3 {
    font-size: 1.3rem;
  }

  ul {
    padding-left: 5vw;
    padding-right: 5vw;
  }

}
