.iframe-container {
  position: relative;
  height: 100vh;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.isLoading {
  margin-top: 40vh;
}
