<section class="iframe-container" ngClass="{'loading': isLoading}">
  <app-loader *ngIf="isLoading" style="margin-top: 40vh"></app-loader>
  <iframe
    class="scrollbar-primary  d-none d-lg-block" (load)="onLoad()"
    src="https://services.silverstark.fr/mycomparateur/client/espacepro-fullpage-light.php?key=48aca326-eddd-46be-9115-0f731c0f0473&telcourtier=0532111528&email1=clemence.cambra@bmb-assurances.fr"></iframe>
  <iframe
    class="scrollbar-primary d-lg-none"  (load)="onLoad()"
    src="https://services.silverstark.fr/mycomparateur/client/mobile/?key=48aca326-eddd-46be-9115-0f731c0f0473&telcourtier=0532111528&email1=clemence.cambra@bmb-assurances.fr"></iframe>
</section>
