$primary: #396d64;
$primary-light: #60aea3;
$primary-dark: #254a41;
$secondary: #EE6354;
$secondary-light: #FF6959;
$secondary-dark: #BC5849;
$dark: rgb(0,0,0);
$grey: rgb(111,111,110);
$white: rgb(255,255,255);

