<main>
  <section class="video-container z-depth-1" [hidden]="!imgLoaded">
    <img src="assets/img/workplace.jpg" alt="" class="d-block d-lg-none" (load)="onImageLoad($event)">
    <video autoplay muted loop id="video_accueil" class="d-none d-lg-block">
      <source src="assets/videos/video_accueil_BMB_assurance.mp4" type="video/mp4">
    </video>
    <div class="filter aligner">
      <div class="container aligner row">
        <div class="col-md-5 col-sm-12">
          <h2>ÉCONOMISEZ JUSQU'Á <span class="secondary-text">14 000€</span> <br> SUR VOTRE ASSURANCE DE PRÊT*</h2>

        </div>
        <div class="col-md-2 col-sm-12 aligner">
          <div class="vertical-separator"></div>
          <div class="horizontal-separator"></div>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <h2 class="text-uppercase">Un complément de revenus, ça vous tente ?</h2>
          <button type="button" class="btn btn-light btn-bmb mt-3" routerLink="/devenir-ambassadeur">En savoir plus</button>
        </div>
      </div>

      <span class="informations d-none d-sm-block">*Sur le coût total de votre assurance de prêt. Exemple de cotisation pour un couple de
        30 ans, non-cadre, non-fumeur, sans déplacements professionels,
        empruntant 250 000€ sur 25 ans à un taux d'intérêt de 1.6%. Date d'effet au 15/05/2018.
        Economie moyenne constatée par rapport à un panel d'offres concurrentes sous réserve de décision de l'assureur.</span>
    </div>
  </section>

  <section class="row target-container">
    <div class="col col-sm-6 col-lg-3 target aligner">
      <div class="aligner z-depth-2" routerLink="/nos-offres/risques">
        <img src="assets/img/Risques aggravés de santé.png" alt="">
        <h2>Risques aggravés de santé</h2>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-3 target aligner">
      <div class="aligner z-depth-2" routerLink="/nos-offres/capitaux">
        <img src="assets/img/Gros capitaux.png" alt="">
        <h2>Gros capitaux <i class="fas fa-long-arrow-alt-up"></i><span>500</span>K</h2>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-3 target aligner">
      <div class="aligner z-depth-2" routerLink="/nos-offres/professions">
        <img src="assets/img/Professions et sports à risques.png" alt="">
        <h2>Professions et sports à risques</h2>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-3 target aligner">
      <div class="aligner z-depth-2" routerLink="/nos-offres/expatriés">
        <img src="assets/img/Expatriés.png" alt="">
        <h2>Expatriés</h2>
      </div>
    </div>
  </section>
  <section class="info-container aligner">
    <div class="infos aligner row">
      <div class="col-4 aligner">
        <img src="assets/img/Horloge.png" alt="">
        <h5><span>10</span> allée du Roussillon <br> <span>31770</span> Colomiers</h5>
      </div>
      <div class="col-4 aligner bordered">
        <img src="assets/img/Position.png" alt="">
        <h5>Du lundi au vendredi <br> de <span>10</span>h à <span>18</span>h</h5>
      </div>
      <div class="col-4 aligner">
        <a href="https://www.facebook.com/BMBAssurances/" ><img src="assets/img/Facebook.png" alt=""></a>

        <h5>Suivez toutes l'actualité <br> de BMB sur Facebook !</h5>
      </div>
    </div>
  </section>
  <section class="companies-container">
    <app-companies-bandeau></app-companies-bandeau>

  </section>
</main>
