@import "../../themes/variables";

.video-container {
  overflow: hidden;
  min-height: 230px;
  max-height: 560px;
  position: relative;

  img, #video_accueil {
    width: 100%;
    height: auto;
    margin: -170px 0 0 0;
  }

  .filter {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

    .vertical-separator {
      height: 230px;
      width: 2px;
      background-color: white;
    }

    .horizontal-separator {
      display: none;
      height: 2px;
      width: 230px;
      margin: 2vh 0;
      background-color: white;
    }

    h2 {
      text-align: center;
      color: white;
      font-family: Cocogoose;

      span {
        font-weight: 900;
        font-family: Verdana;
      }
    }

    span.informations {
      padding: 0 5px;
      bottom: 5px;
      font-size: 0.75rem;
      color: white;
      position: absolute;
      text-align: justify;
    }
  }
}

.target-container {
  margin: 5vh auto;
  max-width: 1300px;

  img {
    top: 20px;
    height: 40px;
    position: absolute;
  }
}

div.target > div {
  width: 220px;
  height: 196px;
  padding: 0 50px;
  margin-top: 15px;
  font-weight: 600;
  color: $secondary;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  background-size: 220px;
  transition-duration: .5s;
  flex-direction: column;
  background-image: url("https://gdurl.com/LvoI");

  h2 {
    margin-top: 40px;
    font-size: 1.5em;
    font-family: Cocogoose;

    span {
      font-weight: 900;
      font-family: Verdana;
    }
  }
}

div.target > div:hover {
  cursor: pointer;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

section.info-container {

  width: 100vw;
  height: 200px;
  background-color: $primary;
  margin-bottom: 10vh;

  div.infos {

    height: 80%;
    width: 100%;
    max-width: 1300px;

    & > div {
      text-align: center;
      height: 100%;
      color: white;
      flex-direction: column;
      font-family: Cocogoose;

      img {
        width: 50px;
        margin-bottom: 15px;
        height: auto;
      }

      span {
        font-weight: 900;
        font-family: Verdana;
      }

      &.bordered {
        border-left: 2px white solid;
        border-right: 2px white solid;
      }
    }
  }

}

section.companies-container {
  margin-bottom: 8vh;
}

@media (max-width: 991px) {
  .filter {
    h2 {
      font-size: 1.5rem;
    }
  }
  .btn-bmb {
    padding: 5px 50px;
  }
}

@media (max-width: 767px) {
  .vertical-separator {
    display: none;
  }

  .horizontal-separator {
    display: block !important;
  }

  .filter .informations {
    display: none !important;
  }
}

@media (max-width: 577px) {


  div.target > div {
    width: 40vw;
    height: 40vw;
    padding: 0 20px;
    border-width: 8px;

    h2 {
      font-size: 1.2em;
    }
  }

  section.info-container {

    div.infos {
      max-width: none;

      h5 {
        font-size: 0.75em;
      }
    }
  }
}


@media (max-width: 577px) {
  section.video-container {

    min-height: 100px;

    h2 {
      font-size: 1em !important;
    }

    img {
      margin-top: -45px;
    }
  }

  section.info-container {

    height: 160px;

    img {
      width: 40px !important;
    }
  }

  div.target > div {
    background-image: none;
    background-color: #f5f5dc38;
  }

}
