@import "../../themes/variables";

#googlemaps {
  height: 50%;
  width: 100%;
  margin-top: 76px;
  position:absolute;
  border-bottom: solid 2px $primary !important;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#contactform {

  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 600px;
  margin: 260px auto 50px;
  padding: 10px;
  background: #ffffff;
  border: solid 2px $primary-light;
  min-height: 400px;

  h2{
    margin-top: 2vh;
    font-family: Cocogoose;
    color: $primary;
  }

  i {
    color: $secondary;
  }

  input, textarea {
    &:focus {
      border-color: $secondary;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255, 84, 97, 0.25);
    }
  }

}

@media (max-width: 577px) {
  #contactform {
    width: 100vw;
    margin-bottom: 0;
  }
}
