<section>
  <iframe
    id="googlemaps"
    class="z-depth-1"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5777.810919820839!2d1.3285966477595457!3d43.6085100213378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4e38dd95f82d0c9!2sBMB+Assurances!5e0!3m2!1sfr!2sfr!4v1532352824190"
    frameborder="0" style="border:0" allowfullscreen></iframe>

  <form action="" id="contactform" class="z-depth-2 row" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <h2 class="text-center col-12 mb-3">Nous contacter</h2>
    <h5 class="col-12 m-2"><i class="fas fa-phone mr-2"></i> 05 32 11 15 28</h5>
    <h5 class="col-12 m-2"><i class="fas fa-envelope mr-2"></i> contact@bmb-assurances.fr</h5>
    <h5 class="col-12 mt-3 mb-3">Ou directement avec le formulaire ci-dessus :</h5>
    <div class="form-group col-sm-12 col-md-6">
      <input type="email" class="form-control" required id="nom" [(ngModel)]="model.nom" name="nom"
             aria-describedby="emailHelp"
             placeholder="Nom">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <input type="text" class="form-control" required [(ngModel)]="model.prenom" name="prenom" id="prenom"
             placeholder="Prénom">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <input type="email" class="form-control" required [(ngModel)]="model.email" name="email" id="email"
             placeholder="Mail">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <input type="text" class="form-control" required [(ngModel)]="model.phone" name="phone" id="phone"
             placeholder="Téléphone">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <input type="email" class="form-control" required [(ngModel)]="model.postal" name="postal" id="postal"
             placeholder="Code Postal">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <input type="text" class="form-control" required [(ngModel)]="model.sujet" name="sujet" id="sujet"
             placeholder="Sujet">
    </div>
    <div class="form-group col-12">
      <textarea class="form-control" id="text" rows="5" required [(ngModel)]="model.message" name="message"
                placeholder="Votre message"></textarea>
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-secondary" [disabled]="!contactForm.form.valid">Envoyer</button>
    </div>
  </form>
  <app-companies-bandeau></app-companies-bandeau>
</section>
