@import "../../themes/variables";

main {

  section.pages {
    color: white;
    overflow: hidden;
    max-height: 600px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      margin: -170px 0 0 0;
    }

    .filter {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);

      .page {
        width: 280px;
        height: 250px;
        padding: 3vw;
        text-align: center;
        background-size: 280px;
        background-image: url("https://gdurl.com/LvoI");

        &:hover {
          cursor: pointer;

          h2 {
            color: $primary-dark !important;
          }
        }

        h2 {
          color: black;
          font-size: 1.5rem;
          font-family: Cocogoose;
        }
      }

    }

  }

  section.questions {
    padding: 5vh 0;
    color: white;
    background-color: $primary;

    div.container {
      & > div.question {
        h2 {
          margin-bottom: 2vh;
          font-family: Cocogoose;
        }

        margin-bottom: 4vh;
      }
    }
  }

  section.explication {
    padding: 5vh 0;

    h3 {
      font-family: Cocogoose;
    }

    h4 {
      font-weight: 800;
      margin: 2rem 0;
    }

    img {
      margin-top: 1rem;
      width: 100%;
      max-width: 100px;
    }

    a {
      margin: 0 auto;
      width: 100%;
    }

    sup {
      color: $secondary;
    }

    button {
      &:hover {
        background-color: $primary-light !important;
      }
    }

    ol {
      font-size: 0.7rem;
    }
  }

  .reglement {
    color: $primary;
    font-weight: 800;

    span {
      text-decoration: underline;
    }
  }

}

@media (max-width: 1000px) {
  section.pages {

    overflow: inherit !important;
    max-height: none !important;

    .filter {
      height: auto;

      h1 {
        font-size: 2rem;
      }

      .page {
        width: 200px !important;
        height: 178px !important;
        background-size: 200px !important;
      }

    }
  }
}

@media (max-width: 765px) {
  section.pages {
    overflow: inherit !important;

    .filter {
      background-color: transparent !important;

      h3 {
        display: inherit !important;
      }

      h1 {
        font-size: 1.5rem;
      }

      .page {
        margin-bottom: 1.5vh;
        height: 12vh !important;
        width: 100% !important;
        background-color: white !important;

      }
    }

    img {
      margin: 0 !important;
    }


  }
}

@media (max-width: 525px) {

  section.pages {

    .filter {
      h1 {
        font-size: 1.25rem !important;
      }

    }
  }

}
