<main>

  <section class="pages z-depth-1" [hidden]="!imgLoaded">
    <img src="assets/img/Ambassadeur BMB Assurances courtier assurance de pret.jpg"
         (load)="onImageLoad($event)"
         alt="BMB Assurances courtier assurance de pret">
    <div class="filter aligner">
      <div class="container">
        <h1 class="text-center font-weight-bold">L'ouverture du marché de l'assurance emprunteur offre
          de belles opportunités d'économies. BMB vous propose ainsi de bénéficier d’un complément de revenus en
          devenant Ambassadeur !</h1>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="container">
      <div class="question">
        <h2> L’assurance emprunteur, qu’est-ce que c’est ?</h2>
        <p>Piqûre de rappel pour ceux qui ne le sauraient pas : lorsque vous contractez un crédit, vous vous engagez à
          rembourser des mensualités. Certaines situations, indépendantes de votre volonté, peuvent vous mettre dans
          l'incapacité de rembourser votre emprunt. En cas d'arrêt de travail, d'invalidité ou de décès, l'assurance
          emprunteur prend en charge le remboursement de vos mensualités ou de votre capital. C'est pourquoi dans la
          majorité des cas, cette assurance est devenue obligatoire.</p>
      </div>

      <div class="question">
        <h2> Pourquoi renégocier son contrat d’assurance ?</h2>
        <p>En un mot : é-co-no-mies ! Et ce, jusqu’à <b>14 000€ !</b>  <sup>1</sup><br>
          La Loi Hamon de 2014 vous permet de changer d'assureur la première année de l'emprunt. Depuis le 1er janvier
          2018, vous pouvez changer d'assurance emprunteur chaque année, même pour un emprunt en cours. Vous pouvez
          ainsi faire jouer la concurrence quelle que soit la date de souscription. À la clé ? Des mensualités
          d'assurance réduites pour des garanties au minima équivalentes !
          Faites confiance à BMB Assurances, courtier en assurance de prêt, pour trouver le contrat le plus adapté à
          votre profil et au meilleur taux. Nous mettons en concurrence nos assureurs partenaires afin de toujours vous
          proposer le taux le plus bas à garanties équivalentes.

        </p>
      </div>

      <div class="question">
        <h2> Recommandez et gagnez des chèques cadeaux <sup>2</sup></h2>
        <p>
          Vous connaissez des personnes qui ont un prêt immobilier en cours ou à venir ? Rejoignez-nous !
          BMB Assurances recrute des Ambassadeurs afin de permettre à vos proches ou collègues de réaliser de superbes
          économies sur leur contrat d'assurance de prêt.
        </p>
      </div>
    </div>

  </section>

  <section class="explication">
    <div class="container">
      <h3 class="text-center primary-text mb-4">Pour cela, rien de plus simple</h3>

      <div class="row text-center">
        <div class="col-sm-12 col-lg-4">
          <img src="assets/img/pictos/1 - Identifiez BMB Assurances courtier assurance de pret.png" alt="">
          <h4>IDENTIFIEZ</h4>
          <p>
            Des personnes de votre entourage qui ont un prêt immobilier en cours ou à venir
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <img src="assets/img/pictos/2 - Communiquez BMB Assurances courtier assurance de pret.png" alt="">
          <h4>COMMUNIQUEZ</h4>
          <p>
            Récupérez ses coordonnées, avec son accord et envoyez-les à
            BMB Assurances pour que nous puissions l'aider 🙂
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <img src="assets/img/pictos/3 - Gagnez BMB Assurances courtier assurance de pret.png" alt="">
          <h4>GAGNEZ !</h4>
          <p>
            Recevez votre chèque-cadeau dès la prise d’effet du contrat !
          </p>
        </div>
      </div>
      <div class="text-center mt-3">
        <a href="mailto:contact@bmb-assurances.fr">
          <button class="btn download-button btn-primary" >J'envoie mon premier contact !</button>
        </a>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/bmb-assurance.appspot.com/o/R%C3%A8glement%20Parrainage%20-%20BMB%20Assurances.pdf?alt=media&token=2b57c5cd-b4ed-423d-bc26-fd20c3ed0357"
          title="Réglement parrainage Assurance BMB" download>
          <div class="reglement">Règlement disponible <span>ici</span></div>
        </a>
      </div>

      <ol class="mt-5">
        <li> Exemple de cotisation pour un couple de 30 ans, non-cadre, non-fumeur, sans déplacements professionnels,
          empruntant 250 000 euros sur 25 ans à un taux d’intérêt de 1,6%.
        </li>
        <li>
          Réception d'un chèque cadeaux Kadeos d'une valeur de 50€ pour tout dossier finalisé.
        </li>
      </ol>
    </div>
  </section>

</main>
