
<header>
  <nav class="navbar navbar-expand-lg navbar-light white z-depth-2">

    <a class="navbar-brand" aria-label="En savoir plus sur BMB" routerLink="/accueil">
      <img src="assets\img\BMB Groupe - couleurs bloc.png" routerLink="/" height="50" class="d-inline-block align-top ml-3" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/presentation">BMB</a>
        </li>
        <li class="separator"></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Les offres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/nos-offres/risques">Risques aggravés</a>
            <a class="dropdown-item" routerLink="/nos-offres/capitaux">Gros capitaux</a>
            <a class="dropdown-item" routerLink="/nos-offres/professions">Professions & sports à risques</a>
            <a class="dropdown-item" routerLink="/nos-offres/expatriés">Expatriés</a>
          </div>
        </li>
        <li class="separator"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comparer">Comparez</a>
        </li>
        <li class="separator"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/changer">Changez</a>
        </li>
        <li class="separator"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/devenir-ambassadeur">Devenez Ambassadeur !</a>
        </li>
        <li class="separator"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
