@import "../../themes/variables";

.navbar {
  z-index: 9999;
  background-color: $white;
}

.navbar-light .navbar-nav {

  align-items: flex-end;

  .nav-link {
    color: #4a4a4a;
  }

  li {

    &.separator {
      background-color: $secondary;
      height: 8px;
      width: 8px;
      margin-bottom: 17px;
      margin-left: 10px;
      margin-right: 10px;
      transform: rotate(45deg);
    }

    a {
      font-family: Cocogoose;
      transition-duration: 0.3s;
      font-weight: 500;
    }

    &:not(.active):hover a{
      color: $primary;
    }

    &.active a {
      color: $secondary !important;
    }
  }

  .dropdown-item {
    transition-duration: 0.2s;
    margin-bottom: 5px;
    margin-top: 5px;
    &:hover {
      color: $secondary !important;
    }
  }

}

@media (max-width: 991px) {

  li.separator {
    display: none;
  }

}

