<div class="modal" id="conditionsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Protection des données</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Le Règlement Général de la Protection des Données (RGPD) est entré en vigueur dans les États de l’Union
          Européenne le 25 mai 2018.
        </p>

        <p>
          Chez BMB Assurances, nous avons à cœur le respect de la vie privée de nos clients et nous nous devons de faire
          preuve de transparence en ce qui concerne les données que nous collectons, la façon dont nous les traitons et
          les droits relatifs à la gestion de ces données.
        </p>

        <h2> 1. Les données personnelles</h2>
        <section>
          <p>
            Les données personnelles collectées par BMB Assurances sont uniquement les données nécessaires à la
            réalisation des finalités de traitement. BMB Assurances s’engage à ne pas collecter plus de données que
            nécessaire.
          </p>

          <p>
            De par la nature même de ses activités, BMB Assurances est appelé à traiter de multiples données
            personnelles,
            y compris les données médicales. Sauf consigne formelle de la part de nos clients, ces dernières ne seront
            traitées que par la cellule médecin conseil, dont le personnel est spécifiquement formé et habilité, dans le
            respect des dispositions du Code de la Santé Publique.
          </p>

          <p>
            La collecte de ces informations vise uniquement au ciblage d’une offre adaptée au profil de nos clients
            (âge,
            profession, etc.).
          </p>

          <p>
            Nous veillons attentivement à vos droits fondamentaux, notamment en évaluant les impacts potentiels vous
            concernant. Nous n’utilisons pas vos données personnelles dans le cadre d’activités de traitement pour
            lesquelles vos droits fondamentaux prévalent sur nos intérêts légitimes (sauf consentement de votre part ou
            disposition légale particulière).
          </p>

          <p>
            Toute finalité de traitement soumise à votre consentement est présentée en conséquence et de manière
            explicite
            au moment de la collecte des données personnelles afférentes. Le retrait de ce consentement peut s’effectuer
            à
            tout moment sans que cela ne remette en cause la licéité du traitement fondé sur ce dernier et effectué
            antérieurement au retrait.
          </p>

          <p>
            L’accès à vos données personnelles est strictement limité aux personnes habilitées qui, par leurs fonctions,
            sont amenées à traiter ces données en vue de la réalisation des finalités prévues.
          </p>
        </section>

        <h2>
          2. Conservation des données personnelles
        </h2>

        <section>

          <p>
            Les données personnelles sont détruites ou anonymes au-delà des durées nécessaires à la réalisation des
            différentes finalités de traitement : ces durées varient donc en fonction des finalités prévues et des
            durées
            de prescription légales en vigueur. À titre d’exemple :
          </p>

          <ul>
            <li>
              Les données relatives à la prospection commerciale sont conservées au maximum pendant 3 ans à compter de
              la
              dernière action de contact que vous avez initiée.
            </li>
            <li>
              Les documents contractuels sont conservés pendant la durée de la relation contractuelle, à laquelle
              s’ajoute
              la durée de prescription légale applicable.
            </li>
          </ul>
        </section>


        <h2>3. Droits et modalités de contact</h2>
        <section>
          <p>
            Préalablement à la mise en œuvre des traitements de données personnelles, et au plus tard lors de la
            collecte de
            ces données, vous êtes informés :
          </p>

          <ul>
            <li>De l’identité et des coordonnées du responsable du traitement ;</li>
            <li>De la durée de conservation des données collectées ou des critères permettant de la déterminer ;</li>
            <li>Des destinataires de ces données ou catégories de destinataires ;</li>
            <li>Information du traitement des données personnelles hors UE ;</li>
            <li>De vos droits.</li>
          </ul>

          <p>
            Conformément à la règlementation en vigueur, vous disposez d’un droit d’accès, de rectification et
            d’effacement de vos données. Vous pouvez également vous opposer à leur traitement, obtenir sa limitation et
            la portabilité de vos données, dans la mesure où cela est applicable et sous réserve des motifs légitimes
            pouvant amener BMB Assurances à ne pas donner suite à votre demande.
          </p>

          <p>Vous disposez également du droit de nous donner des directives spécifiques concernant le sort de vos
            données après votre décès. Enfin, vous disposez du droit d’introduire une réclamation auprès de la CNIL.
            Pour exercer ces droits à l’adresse suivante : rgpd@bmb-assurances.fr ou bien à :
          </p>
          <div class="text-center">
            <ul>
              <li><b>BMB Assurances</b></li>
              <li>Service Juridique</li>
              <li>boulevard</li>
              <li>31000 Toulouse</li>
            </ul>
          </div>

        </section>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
