@import "../../themes/variables";

main {

  section.pages {
    color: white;
    overflow: hidden;
    max-height: 600px;
    position: relative;

    #contact-redirection {
      bottom: 2vh;
      color: white;
      z-index: 9999;
      position: absolute;
      text-align: center;
      font-family: Cocogoose;
      transition-duration: 0.2s;

      &:hover {
        cursor: pointer;
        color: $secondary !important;
      }
    }

    img {
      width: 100%;
      height: auto;
      margin: -170px 0 0 0;
    }
    .filter {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);

      .page {
        width: 280px;
        height: 250px;
        padding: 3vw;
        text-align: center;
        background-size: 280px;
        background-image: url("https://gdurl.com/LvoI");

        &:hover {
          cursor: pointer;
          h2 {
            transition-duration: 0.2s;
            color: $secondary-dark !important;
          }
        }

        h2 {
          color: black;
          font-size: 1.5rem;
          font-family: Cocogoose;
        }
      }

    }

  }

  section.companies {
    margin: 5vh auto;
  }
}

@media (max-width: 1000px) {
  section.pages {

    color: black !important;
    overflow: inherit !important;
    max-height: none !important;

    .filter {
      height: auto;
      .page {
        width: 200px !important;
        height: 178px !important;
        background-size: 200px !important;
      }

    }
  }
}

@media (max-width: 765px) {
  section.pages {
    padding: 3vh 0;
    overflow: inherit !important;
    background-color: $primary !important;

    .filter {
      position: inherit !important;
      background-color: transparent !important;
      h3 {
        display: inherit !important;
      }
      .page {
        margin-bottom: 1.5vh;
        height: 12vh !important;
        width: 100% !important;
        background-color: white !important;
        background-image: none !important;

        h2 {
          color: $secondary !important;
          font-size: 1.1rem !important;
          margin-bottom: 0;
        }
      }
    }

    #contact-redirection {
      display: none;
    }

    img {
      display: none;
    }

  }
}
