<main>

  <section class="pages" [hidden]="!imgLoaded">
    <img src="assets/img/team-meeting.jxr" alt="" (load)="onImageLoad($event)">
    <div class="filter aligner">
      <div class="container">
        <div class="row dates-container">
          <div class="col-md-4 col-sm-12">
            <div class="aligner z-depth-2 page" routerLink="/comparer">
              <h2>Comparez et économisez</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="aligner z-depth-2 page" routerLink="/changer">
              <h2>Changez d'assurance de prêt</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="aligner z-depth-2 page" routerLink="/nos-offres">
              <h2>Les offres BMB</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="companies">
    <app-companies-bandeau></app-companies-bandeau>
  </section>
</main>
