<footer class="secondary">
  <div class="container first-footer aligner">
    <h3>BMB</h3>
    <ul class="main-list">
      <li (click)="goTo('nos-offres')">Les offres</li>
      <li class="separator"></li>
      <li (click)="goTo('comparer')">Comparer</li>
      <li class="separator"></li>
      <li (click)="goTo('changer')">Changer</li>
      <li class="separator"></li>
      <li (click)="goTo('contact')">Contact</li>
    </ul>
    <ul class="secondary-list">
      <li data-target="#mentionsModal" data-toggle="modal">Mentions légales</li>
      <li class="separator"></li>
      <li data-target="#conditionsModal" data-toggle="modal">Protection des données</li>
      <li class="separator"></li>
      <li><a href="https://www.facebook.com/BMBAssurances/" rel="noopener" target="_blank"><i class="fab fa-facebook-f mr-2"></i>Facebook</a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2019 Roussange Alexandre
      <a class="grey-text text-lighten-4 right" href="http://www.linkedin.com/in/roussangealexandre" target="_blank" rel="noopener" >+ de Liens</a>
    </div>
  </div>

</footer>
