@import "../../themes/variables";

footer {
  width: 100vw;
  color: white;
  min-height: 35px;
  padding-top: 20px;
  -webkit-transform: translateZ(0);

  .first-footer {
    min-height: 200px;
    flex-direction: column;

    h3 {
      margin-bottom: 30px;
      font-family: Cocogoose;
    }
  }

  ul {
    list-style-type: none;
    padding: 0 !important;

    li {
      display: inline-block;

      a {
        color: white;
        &:hover {
          cursor: pointer;
          color: #d5d5d5;
          text-decoration: none;
        }
      }

      &:hover {
        cursor: pointer;
        color: #d5d5d5;
      }
    }

    &.main-list {
      li {
        font-family: Cocogoose;
        &.separator {
          background-color: $secondary-dark;
          height: 8px;
          width: 8px;
          margin-bottom: 2px;
          margin-left: 10px;
          margin-right: 10px;
          transform: rotate(45deg);
        }
      }
    }

    &.secondary-list {

      li {
        &.separator {
          background-color: white;
          height: 15px;
          width: 1px;
          margin-bottom: -2px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }

    }
  }

  .footer-copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $secondary-dark;

    a {
      color: #dedede;
    }
  }
}

@media (max-width: 765px) {
  footer {
    padding-top: 15px !important;
  }

  .first-footer {
    min-height: 50px !important;

    h3 {
      margin-bottom: 0 !important;
    }
  }

  .main-list {
    display: none
  }

  ul {
    li {
      font-size: 0.8em;
    }
  }
}


