@import "themes/variables";

@font-face {
  font-family: "Malgun Gothic";
  src: url("/assets/fonts/Malgun gothic semilight.ttf") format('opentype');
}

@font-face {
  font-family: "Cocogoose";
  src: url("/assets/fonts/Cocogoose Pro-trial.ttf") format('opentype');
}

body {
  font-family: 'Malgun Gothic';
  overflow-x: hidden;
}

.primary {
  background-color: $primary !important;
}

.primary-text {
  color: $primary !important;
}

.secondary {
  background-color: $secondary !important;
}

.secondary-text {
  color: $secondary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary-light !important;
}

.btn-secondary {
  background-color: $secondary !important;
  border-color: $secondary-light !important;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}

.modal-body, .modal-title {
  color: black;
}

.ng-invalid:not(form) {
  border-bottom: 2px solid $secondary-dark; /* red */
}

// BUTTONS STYLES

button {
  &.redirection-button {
    border: none;
    color: white;
    font-family: Cocogoose;
    background-color: $secondary;
    padding: 10px 70px;
    display: inherit;
    margin: 5vh auto 0 auto;

    &:hover {
      background-color: $secondary-dark;
      cursor: pointer;
    }
  }

  &.btn-bmb {
    padding: 10px 70px;
    font-family: Cocogoose;

  }

  &.download-button {
    border-radius: 0;
    font-family: Cocogoose;
    padding: 15px 20px;
    transition-duration: 0.2s;
  }
}

sup {
  font-family: Malgun Gothic !important;
}

@media (max-width: 525px) {
  button {
    &.download-button {
      padding: 15px 10px;
    }
  }
}





