@import "../../themes/variables";


h1 {
  color: $secondary;
}

h2 {
  color: $primary;
}

ul {

  list-style: none;
}

@media (min-width: 700px){
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
