<div class="modal" id="mentionsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Mentions Légales</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>1. Informations légales</h2>
        <section>
          <ul>
            <li><b>Raison sociale</b> : BMB Assurances</li>
            <li><b>Objet</b> : Intermédiaire en Assurance</li>
            <li><b>Statut juridique</b> : SARL au capital social de 1 200€</li>
            <li><b>Code APE/NAF</b> : 6622Z</li>
            <li><b>RCS de Toulouse</b> : 823 792 445</li>
            <li><b>RC Pro</b> : CGPA RCP61684</li>
            <li><b>Numéro TVA</b> : FR 95823792445</li>
            <li><b>Registre unique des intermédiaires en assurance (N° ORIAS - www.orias.fr)</b> : 160 068 23</li>
            <li><b>Siège social</b> : 5 boulevard Lazare Carnot, 31000 Toulouse</li>
            <li><b>Téléphone</b> : 05 32 11 15 28</li>
            <li><b>E-mail</b> : contact@bmb-assurances.fr</li>
            <li><b>Site web</b> : www.bmb-assurances.fr</li>
            <li><b>Hébergeur du site et stockage des informations direct et permanent</b> : OVH, SAS au capital de 10
              000 000€
              - RCS
              Roubaix – Tourcoing 424 761 419 00045 - Code APE 6202A dont le siège social est situé au 140 quai du
              Sartel
              59100 Roubaix - Téléphone 0 820 698 765.
            </li>
            <li><b>Marque</b> : BMB Assurances</li>
            <li><b>Réclamation</b> : en cas de litige, ou de différend avec le Courtier IAS, en tant que client
              particulier
              personne
              physique, vous pouvez vous adresser au Service des Réclamations :
              Par mail à : reclamation@bmb-assurances.fr
              Par courrier à : BMB Assurances – service réclamation – 10 allée du Roussillon, 31770 Colomiers
              Supervisée par l'Autorité de Contrôle Prudentiel et de Résolution (ACPR), 4 place de Budapest, CS 92459,
              75436 Paris Cedex 09,
              consultable sur le site <a href="www.acpr.banque-france.fr">www.acpr.banque-france.fr</a>.
              BMB Assurances est soumise notamment aux obligations de l'article L. 511-1 et suivants du Code des
              assurances.
              Elle ne détient aucune participation directe ou indirecte des droits de vote ou du capital d'une compagnie
              d'assurance partenaire dont les offres sont comparées sur le site et aucune de ses compagnies d'assurance
              partenaires ne détient de participation directe ou indirecte des droits de vote ou de son capital. Elle
              dispose
              d'une assurance de responsabilité civile professionnelle pour l'exercice de son activité.
            </li>
            <li><b>Droits d’auteurs</b> : le site www.bmb-assurances.fr est protégé par le droit d'auteur. Les droits de
              propriété
              intellectuelle relatifs au site restent la propriété exclusive de BMB Assurances. Vous ne pouvez
              télécharger
              tout ou partie des textes, images, sons, photographies, données, marques et tout autre élément qui y sont
              contenus qu'à des fins strictement privées. Toute réutilisation, diffusion, commercialisation,
              reproduction et
              représentation, totale ou partielle, d'éléments du site à d'autres fins qu'un usage privé, sans
              l'autorisation
              préalable expresse de BMB Assurances, est interdite et constitutive du délit de contrefaçon de droit
              d'auteur
              et/ou d'atteinte aux droits voisins.
            </li>
          </ul>
        </section>

        <h2>
          2. Liste des compagnies partenaires
        </h2>

        <section>
          <ul>
            <li>MMA</li>
            <li>Cardif</li>
            <li>NeoAssur</li>
            <li>MetLife</li>
            <li>Afi Esca</li>
            <li>April</li>
            <li>Utwin</li>
            <li>SwissLife</li>
            <li>UGIP</li>
            <li>Sphéria</li>
          </ul>
        </section>

        <h2>
          3. Accès au site
        </h2>
        <section>
          <p>
            L'utilisateur reconnaît avoir pris connaissance de la présente notice légale et s'engage à en respecter les
            dispositions et reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce
            site.
            L'accès au site web est libre.
          </p>
          <p>
            L'utilisateur de www.bmb-assurances.fr reconnaît avoir vérifié que la configuration informatique utilisée ne
            contient aucun virus et qu'elle est en parfait état de fonctionnement.
          </p>

          <p>
            BMB Assurances met tout en œuvre pour offrir aux utilisateurs des informations ou des outils disponibles et
            vérifiés mais ne saurait être tenu pour responsable des erreurs, d'une absence de disponibilité des
            fonctionnalités ou de la présence de virus sur son site.
          </p>
          <p>
            Le site web www.bmb-assurances.fr est accessible 24 heures sur 24 et 7 jours sur 7. L'éditeur du site web ne
            saurait toutefois, être tenu pour responsable des discontinuités du site et de ses services, qu'elles soient
            volontaires ou non. En outre, pour des raisons de maintenance, l'éditeur du site web pourra interrompre son
            site
            et s'efforcera d'en avertir préalablement les utilisateurs.
          </p>
          <p>
            Les informations fournies par BMB Assurances sont à titre indicatif et ne sauraient dispenser l'utilisateur
            d'une analyse complémentaire et personnalisée.
          </p>
          <p>
            L'utilisateur s'engage à n'utiliser les services du site ainsi que l'ensemble des informations auxquelles il
            pourra avoir accès que pour des raisons personnelles et dans un but conforme à l'ordre public, aux bonnes
            mœurs
            et aux droits des tiers.
          </p>
          <p>
            L'utilisateur s'engage à ne commettre aucun acte pouvant mettre en cause la sécurité informatique du site
            web ou
            du système informatique des autres utilisateurs.
          </p>
          <p>
            L'utilisateur s'engage à ne pas interférer ou interrompre le fonctionnement normal du site.
          </p>
          <p>
            L'utilisateur s'engage lorsque cela lui est demandé à ne renseigner que des informations le concernant,
            complètes, exactes et à jour.
          </p>
        </section>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
